.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column; /*sempre abaixo do outro*/
}

.container section{
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem; /*Vai dar 100px numa tela menor*/
  align-content: center; /*vai alinha o centro*/
}